.carrousel {
  position: absolute;
  left: 12.5vw;
  top: 12.5vh;
  width: 75vw;
  height: 75vh;
  background-color: aqua;
  transform: scale(0);
  opacity: 0;
  transition: transform 1s, opacity 1s;
  z-index: 1;
}


.carrousel--ouvrir {
  transform: scale(1);
  opacity: 1;
}